* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: inherit;
}

:root {
  --main-bg-color: #1C1C21;
  --main-bg-transparent: #1c1c21fa;
  --light-gray: #2F2F37;
  --red: #CF2626;
  --text-color: #8892b0;
  --light-white: #dddde5;
  --font-mono: monospace;
  --slide-in: all 350ms ease;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Ubuntu", sans-serif;
}

header {
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: var(--main-bg-transparent);
  padding: 20px;
  padding-right: 100px;
  color: var(--light-white);
  display: flex;
  justify-content: space-between;
  border: none;
}
header #ham-menu {
  display: none;
}
header nav > ul {
  display: flex;
  list-style: none;
}
header nav > ul li {
  font-size: 17px;
  margin-right: 45px;
  font-weight: 300;
}
header nav > ul li a {
  font-family: var(--font-mono);
  color: var(--red);
  text-decoration: none;
}
header nav > ul li a:hover {
  color: var(--light-white);
}

main {
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto;
  margin-top: 130px;
  background-color: var(--main-bg-color);
}
main #email {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  right: -50px;
  bottom: 300px;
  letter-spacing: 5px;
}
main #email a {
  cursor: pointer;
  transform: rotate(90deg);
  text-decoration: none;
  color: var(--light-white);
  transition: all 0.3s ease;
}
main #email a:hover {
  color: var(--red);
}
main #email::after {
  content: "";
  display: block;
  position: fixed;
  transform: translate(125px, 160px);
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: var(--red);
}
main #decor-aside {
  position: fixed;
  bottom: 10px;
  left: 50px;
  transform: translate(0px, -130px);
  display: flex;
  flex-direction: column;
}
main #decor-aside .decorations {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  margin-bottom: 40px;
  width: 15px;
  height: 15px;
  background-color: red;
}
main #decor-aside .decorations > img {
  position: absolute;
  vertical-align: middle;
  height: 15px;
  top: 0px;
  scale: 1.6;
}
main #decor-aside::after {
  content: "";
  display: block;
  position: fixed;
  transform: translate(7px, 265px);
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: var(--red);
}
main #intro {
  font-size: 60px;
  transform: translate(138px);
  margin: 0 auto;
}
main #intro #intro1 {
  font-size: 25px;
  color: var(--red);
}
main #intro #intro2 {
  animation-delay: 0.3s;
  margin-bottom: 10px;
  color: white;
}
main #intro #intro3 {
  animation-delay: 0.6s;
  margin-bottom: 10px;
  font-size: 45px;
  color: var(--light-white);
}
main #about-me {
  display: flex;
  width: 70%;
  position: relative;
  margin: 0 auto;
  margin-top: 400px;
  color: var(--text-color);
}
main #about-me article {
  margin-right: 50px;
  width: 50%;
  line-height: 30px;
}
main #about-me article > h2 {
  font-family: var(--font-mono);
  color: var(--light-white);
  margin-bottom: 10px;
}
main #about-me article #skills-list {
  position: relative;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
main #about-me article #skills-list > h3 {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
}
main #about-me article #skills-list ul {
  margin: 40px 20px 10px 27px;
}
main #about-me img {
  max-height: 350px;
  height: auto;
  max-width: 350px;
}
main #projects {
  position: relative;
  font-size: 45px;
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  color: var(--red);
}
main #projects #title {
  font-size: 25px;
  font-family: var(--font-mono);
  color: var(--light-white);
  transform: translate(0px, -80px);
}
main #projects .prj-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}
main #projects .prj-cont picture {
  position: relative;
  height: 300px;
  width: 430px;
}
main #projects .prj-cont picture .img {
  height: 300px;
  width: 100%;
}
main #projects .prj-cont .project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 386px;
  width: 300px;
  margin-left: 10px;
  padding: 20px;
  text-align: end;
  font-size: 17px;
  background-color: var(--light-gray);
}
main #projects .prj-cont .project-info h2 {
  font-size: 30px;
  margin-bottom: 17px;
  color: white;
}
main #projects .prj-cont .project-info p {
  color: var(--text-color);
  background-color: var(--light-gray);
}
main #projects .prj-cont .project-info span {
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-size: 8px;
  margin-top: 10px;
  padding-right: 20px;
  color: var(--text-color);
}
main #projects .prj-cont .project-info button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  color: var(--red);
  background-color: var(--main-bg-color);
  transition: all 0.3s ease;
}
main #projects .prj-cont .project-info button:hover {
  color: var(--main-bg-color);
  background-color: var(--red);
}
main #projects .prj-cont .project-info .open-live {
  position: relative;
  margin-top: 10px;
  color: var(--red);
}
main #projects-grid {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 250px;
  background-color: var(--main-bg-color);
}
main #projects-grid #grid-title {
  position: absolute;
  color: var(--light-white);
  font-family: var(--font-mono);
  font-size: 25px;
  transform: translate(0px, -100px);
}
main #projects-grid div {
  background-color: var(--light-gray);
  height: 300px;
  width: 300px;
  padding: 20px;
  transition: all 0.15s ease-in;
}
main #projects-grid div:hover {
  transform: translateY(-8px);
}
main #projects-grid div:hover h2 > a {
  color: var(--red);
}
main #projects-grid div h2 {
  margin-bottom: 10px;
}
main #projects-grid div h2 {
  text-decoration: none;
  color: white;
  font-size: 26px;
  transition: all 0.3s ease;
}
main #projects-grid div p {
  color: var(--text-color);
  margin-bottom: 20px;
}
main #projects-grid div span {
  color: white;
  font-size: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 130px;
  text-align: center;
  padding: 60px 10px;
  height: 30px;
  width: 65%;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
footer #connect-logos > a {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in;
  color: inherit;
}
footer #connect-logos > a:hover {
  color: var(--red);
}

/*slide in animations*/
.left {
  transform: translate(-50%);
  opacity: 0;
  transition: var(--slide-in);
}

.right {
  transform: translate(50%);
  opacity: 0;
  transition: var(--slide-in);
}

.slide-in {
  transform: translate(0%);
  opacity: 1;
}

.left-proj {
  transform: translate(-50%);
  opacity: 0;
  transition: var(--slide-in);
}

.right-proj {
  transform: translate(50%);
  opacity: 0;
  transition: var(--slide-in);
}

.slide-in-proj {
  transform: translate(0);
  opacity: 1;
}

@media only screen and (max-width: 1195px) {
  #projects-grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 900px) {
  header {
    width: 100vw;
  }
  main #decor-aside {
    display: none;
  }
  main #email {
    display: none;
  }
  main #intro {
    transform: translate(0);
    text-align: center;
  }
  main #about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main #about-me article {
    width: 100%;
  }
  main #about-me img {
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    width: 100%;
  }
  main #projects {
    width: 100%;
  }
  main #projects .prj-cont {
    display: flex;
    flex-direction: column;
  }
  main #projects .prj-cont picture {
    margin: 0 auto;
  }
  main #projects .prj-cont picture > img {
    height: auto;
    width: 100%;
  }
  main #projects .prj-cont .project-info {
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }
  main #projects .prj-cont .project-info a:first-of-type {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  main #projects .prj-cont .project-info .open-live {
    width: 93%;
    padding-bottom: 10px;
  }
  main #projects .prj-cont .project-info span {
    padding-right: 23px;
    bottom: 10px;
  }
  main #projects-grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 805px) {
  main {
    width: 90%;
  }
}
@media only screen and (max-width: 705px) {
  header {
    z-index: 0;
    position: relative;
    padding-right: 20px;
  }
  header.active {
    z-index: 6;
  }
  header #ham-menu {
    display: block;
    font-size: 2rem;
  }
  header nav {
    position: absolute;
    top: 50px;
    left: -20px;
    height: 50vh;
    width: 100vw;
    background-color: var(--light-gray);
    opacity: 0;
    transition: all 0.55s cubic-bezier(0.19, 0.21, 0.48, 1.01);
  }
  header nav.active {
    opacity: 1;
    top: 50px;
    left: 0;
    right: 0;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    text-align: center;
    margin-top: 40px;
    margin-right: 0;
    font-size: 30px;
  }
  main {
    position: relative;
    z-index: 5;
    margin-top: 0;
    padding-top: 120px;
  }
  main #intro h1 {
    font-size: 30px;
  }
  main #projects-grid {
    grid-template-columns: repeat(1, auto);
  }
  main #projects-grid div {
    width: 100%;
  }
  main #grid-title {
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */